* {
    padding: 0;
    margin: 0;
}

.container {
    background: url(w1.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: 0.4s;
    ;
}

.navbar ul li a:hover {
    color: greenyellow;
    border-radius: 2px;
}

.name {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    color: azure;
    text-align: left;
    font-size: 20px;
}

.id {
    color: antiquewhite;
    font-size: 50px;
}